/* CITADEL - Styles principaux */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400&family=Outfit:wght@500;600;700&display=swap');

@import 'variables.css';
@import 'layout.css';
@import 'components.css';
